// --------------------------------------------------
// Imports
// --------------------------------------------------

@import 'variables.less';
@import 'mixins.less';


// --------------------------------------------------
// Resets
// --------------------------------------------------

input,
label,
select,
textarea {
	margin: 0;
	border: 0;
	padding: 0;
	display: inline-block;
  font-weight: 400;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
  -webkit-appearance: none;
}

textarea {
	vertical-align:top;
	overflow: auto;
  resize: none;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: 0;
}

label {
  font-weight: 500;
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  background: transparent;
  color: inherit;
  text-align: inherit;
  font: inherit;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}


// --------------------------------------------------
// General
// --------------------------------------------------

.vue-django-feedback {
  position: fixed;
  bottom: @vdf-padding;
  width: @vdf-button-size;
  height: @vdf-button-size;
  font-family: @vdf-font-family;
  font-size: @vdf-base-font;
  font-weight: 400;
  line-height: @vdf-line-height;
  font-style: normal;
  color: @text-primary;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;

  &.left {
    left: @vdf-padding;

    .pop-up-container {
      left: 0;
      transform: translate3d(@vdf-offset-,0,0);
    }
  }

  &.right {
    right: @vdf-padding;

    .pop-up-container {
      right: 0;
      transform: translate3d(@vdf-offset,0,0);
    }
  }

  &.opened {
    .feedback-button {
      .icon-opened {
        > span {
          transform: translate3d(0, -@vdf-button-size, 0);
        }
        &::before, &::after {
          transform: translate3d(0, @vdf-button-size, 0);
        }
      }

      .icon-closed {
        transform: scale3d(1,1,1);
      }
    }

    &.left,
    &.right {
      .pop-up-container {
        transform: translate3d(0,0,0);
      }
    }
  }
}
